<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TraceConv LogParser</title>
</head>
<body>
{#<h1>TraceConv LogParser</h1>#}
<br>

<SCRIPT LANGUAGE="JavaScript">
<!--
function msg(){
if (confirm("确认提交？"))
document.lnman.submit()
}
//-->
</SCRIPT>
<form name="lnman" method="post" action="">
    <input type="text" name="textfield" value="测试……">
    <input type="button" name="Submit" value="提交" onclick="msg();">
</form>
</body>
</html>