<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Druid Report Automation</title>
</head>
<body>
{#<h1>TraceConv LogParser</h1>#}
<br>

<SCRIPT LANGUAGE="JavaScript">
<!--
function showmsg(){
if (confirm("确认提交？"))
document.lnman.submit()
}
//-->
</SCRIPT>
<form name="lnman" method="post" action="">
    <table>
        <tr>
            <td>Mongodb Host </td>
            <td><input type="text" name="textfield" value="127.0.0.1" onfocus="if(this.value=='127.0.0.1'){this.value=''}" onblur="if (value=='') {value='127.0.0.1'}"><br></td>
        </tr>

        <tr>
            <td>Mongodb Port </td>
            <td><input type="text" name="textfield" value="27017" onfocus="if(this.value=='27017'){this.value=''}" onblur="if (value=='') {value='27017'}"><br></td>
        </tr>

        <tr>
            <td><input type="button" name="Submit" value="提交" onclick="showmsg();"></td>
        </tr>



     </table>
</form>
</body>
</html>