<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<title>YeahMobi 测试工具集</title>
		<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen" charset="utf-8" />
		<script src="../static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/global.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/modal.js" type="text/javascript" charset="utf-8"></script>
	</head>
    <SCRIPT LANGUAGE="JavaScript">
<!--
function showmsg(){
if (confirm("确认提交？"))
document.lnman.submit()
}
//-->
    </SCRIPT>
	<body>
		<div id="header">
			<div class="col w5 bottomlast">
				<a href="" class="logo">
					<img src="../static/images/logo.png" alt="Logo" />
				</a>
			</div>
			<div class="col w5 last right bottomlast">
				<p class="last">Logged in as <span class="strong">Admin,</span> <a href="">Logout</a></p>
			</div>
			<div class="clear"></div>
		</div>
		<div id="wrapper">
			<div id="minwidth">
				<div id="holder">
					<div id="menu">
						<div id="left"></div>
						<div id="right"></div>
						<ul>
							<li>
								<a href="index.html" class="selected"><span>自动化配置</span></a>
							</li>
							<li>
								<a href="users.html"><span>用户</span></a>
							</li>
							<li>
								<a href="articles.html"><span>运行结果查询</span></a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div id="submenu">
						<div class="modules_left">
							<div class="module buttons">
								<a href="" class="dropdown_button"><small class="icon clipboard"></small><span>YeahMobi</span></a>
								<div class="dropdown help_index">
									<div class="arrow"></div>
									<div class="content">
										<div class="col w5">
										<a href="#dbconfig">
											数据库配置
											<span>配置自动化测试运行过程中所需用到的Mongodb数据库信息，包括数据库地址，端口，数据库名称以及表名</span>
										</a>
										<hr/>
										<a href="#queryconfig">
											查询条件配置
											<span>配置查询条件中的查询开始时间，结束时间</span>
										</a>
										<hr/>
										<a href="#functionconfig">
											自动化功能配置
											<span>选择所需自动化运行的功能</span>
										</a>
										<hr/>

										<a href="#envconfig">
											环境配置
											<span>选择自动化运行的环境</span>
										</a>
										<hr/>

										</div>
										<div class="clear"></div>
										<a class="button red right close"><small class="icon cross"></small><span>Close</span></a>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="title">
							YeahMobi配置
						</div>
						<div class="modules_right">
						</div>
					</div>
					<form name="config" method="post" action="/runner">
					<div id="desc">
						<div class="body">

							<div id="messages"></div>
							<div class="clear"></div>


							<div id="dbconfig" class="help">
							    <h1> 数据库配置:</h1>
							    <div class="col w10 last">
								<div class="content">
									<p>Mongodb数据库信息，包括数据库地址，端口，数据库名称以及表名:</p>
									<table>
									        <tr>
            									<td>Mongodb数据库的IP</td>
            									<td><input type="text" name="textfield" value="127.0.0.1" onfocus="if(this.value=='127.0.0.1'){this.value=''}" onblur="if (value=='') {value='127.0.0.1'}"><br></td>
        									</tr>

        									<tr>
            									<td>Mongodb数据库的端口</td>
            									<td><input type="text" name="textfield" value="27017" onfocus="if(this.value=='27017'){this.value=''}" onblur="if (value=='') {value='27017'}"><br></td>
        									</tr>

        									<tr>
            									<td>Mongodb数据库实例名</td>
            									<td><input type="text" name="textfield" value="mercurial" disabled><br></td>
        									</tr>

        									<tr>
            									<td>Mongodb数据库集合名</td>
            									<td><input type="text" name="textfield" value="mercurial_tmp" disabled><br></td>
        									</tr>
        							</table>
								</div>
							    </div>
							    <div class="clear"></div>
							</div>


							<div id="queryconfig" class="help">
							    <h1>查询条件配置:</h1>
							    <div class="col w10 last">
								<div class="content">
									<p>配置查询条件中的查询开始时间，结束时间:</p>
									<table>
										        <tr>
            										<td>查询条件的开始日期</td>
            										<td><input type="text" name="textfield" value="2014-7-1 08:00:00" onfocus="if(this.value=='2014-7-1 08:00:00'){this.value=''}" onblur="if (value=='') {value='2014-7-1 08:00:00'}"><br></td>
        										</tr>
        										<tr>
            										<td>查询条件的结束日期</td>
            										<td><input type="text" name="textfield" value="2014-8-1 08:00:00" onfocus="if(this.value=='2014-8-1 08:00:00'){this.value=''}" onblur="if (value=='') {value='2014-8-1 08:00:00'}"><br></td>
        										</tr>
									</table>
								</div>
							    </div>
							    <div class="clear"></div>
							</div>


							<div id="functionconfig" class="help">
							    <h1>自动化功能配置:</h1>
							    <div class="col w10 last">
								<div class="content">
									<p>选择所需自动化运行的功能:</p>
									<table>
        								<tr>
            								<td>选择所要运行的功能</td>
           							 		<td>
                								<label><input name="Fruit" type="checkbox" value="" />过滤筛选功能 </label> 
                								<label><input name="Fruit" type="checkbox" value="" />分页排序功能 </label> 
                								<label><input name="Fruit" type="checkbox" value="" />TOPN功能</label> 
                								<label><input name="Fruit" type="checkbox" value="" />通用查询功能</label>
                								<label><input name="Fruit" type="checkbox" value="" />货币转换功能</label>
            								</td>
        								</tr>
									</table>
								</div>
							    </div>
							    <div class="clear"></div>
							</div>


							<div id="envconfig" class="help">
							    <h1>环境配置:</h1>
							    <div class="col w10 last">
								<div class="content">
									<p>选择自动化运行的环境:</p>
									<table>
										        <tr>
            										<td>测试环境选择</td>
            										<td>
                    								<select name="selectEnv" id="selectEnv">   
                    								<option value="online">YeahMobi线上生产环境</option>   
                    								<option value="offline">YeahMobi线下测试环境</option>
                   									</select> 
            										</td>
        										</tr>
									</table>
                                    <table>
                                                <tr>
                                                    <td align="center"><input type="button" name="Submit" value="Save Config" onclick="showmsg();"></td>
                                                </tr>
                                    </table>
								</div>
							    </div>
						        <div class="clear"></div>
                            </div>

						<div id="body_footer">
							<div id="bottom_left"><div id="bottom_right"></div></div>
						</div>

					</div>
				</div>
                    </form>
                </div>
			</div>
        </div>
		</div>
		<div id="footer">
			<p class="last">Copyright 2009 - Gray Admin Template - Created by <a href="">Passatgt</a></p>
		</div>
	</body>
</html>