<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Send Req</title>
</head>

<style>
textarea {
resize: none;
}

</style>
<body>
    <form action="/result" method="post">
    <textarea cols="200" rows="10" id="settings" name="settings"></textarea>
        <br/>
    <input type="submit" value="Send Req" />
    <select name="methodtype">
        <option value="yeahmobi_offline">yeahmobi_offline</option>
        <option value="yeahmobi_online">yeahmobi_offline</option>
        <option value="trading_online">trading_online</option>
    </select>
    </form>
</body>
</html>
